src/images/default.png filter=lfs diff=lfs merge=lfs -text
src/Fonts/Montserrat-Light.ttf filter=lfs diff=lfs merge=lfs -text
src/Fonts/Montserrat-Medium.ttf filter=lfs diff=lfs merge=lfs -text
src/Fonts/Montserrat-Regular.ttf filter=lfs diff=lfs merge=lfs -text
src/images/zippy.png filter=lfs diff=lfs merge=lfs -text
src/images/loginZippyIllustration.png filter=lfs diff=lfs merge=lfs -text
src/images/hexagon.png filter=lfs diff=lfs merge=lfs -text
src/images/hexagon.svg filter=lfs diff=lfs merge=lfs -text

